* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, serif;
    user-select: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.body {
    width: 500px;
    background-color: slategray;
    height: 100%;
    padding: 7px;
    border-radius: 10px;
}
button {
    cursor: pointer;
}
.result {
    background-color: rgb(39, 39, 39);
    width: 100%;
    border-radius: 5px;
    height: 150px;
    color: white;
    font-size: 32px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.result div {
    padding: 10px;
    width: 100%;
    color: inherit;
    overflow: auto;
}
#final {
   text-align: right !important;
}
.all-btns {
    display: flex;
    flex: wrap;
    width: 100%;
}
.all-btns .two {
    padding: 5px 0px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}
.all-btns .two button {
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    background-color: #eee;
    border-radius: 10px 10px 20px 20px;
    border: 2px solid rgb(87, 98, 109);
    min-width: 70px;
}
#del ,#del-all{
    background-color: orange;
}
#del-all {
    font-size: 20px;
}